* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFF3E0;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 120px;
  height: 120px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100vw;
  padding: 1rem 0.5rem;
  background-color: #E8DDC1;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: #fff3e0;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23937ba3' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 352px);
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  height: calc(100vh - 170px);
  text-align: center;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: calc(100vh - 170px);
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 50;
}

.next {
  right: 0;
  text-align: right;
  border-radius: 3px 0 0 3px;
}

.carousel-text {
  color: #f2f2f2;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  text-align: center;
  z-index: 50;
}

.number-text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  z-index: 50;
}

.dot-container {
  position: absolute;
  bottom: 0.5rem;
  left: 47%;
  z-index: 50;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  max-width: 1200px;
  width: 100%;
  min-height: calc(100vh - 170px);
}

footer ul {
  list-style-type: none;
}

footer {
  background-color: #876595;
  color: white;
  padding: 1rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: lightgrey;
}

#socials {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

#footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#seller-logo-input {
  height: auto;
}

#marketplace-logo {
  transition: 0.5s;
}

form {
  background-color: white;
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: 1px solid darkgrey;
  margin: 1rem;
  box-shadow: 2px 2px 10px grey;
  padding-top: 1rem;
}

legend {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

label {
  margin-bottom: 1rem;
}

.form-control {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border-color: lightgrey;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

input[type=file] {
  height: auto;
}

.gallery {
  --n: 1; /* number of rows*/
  --m: 5; /* number of columns */
  --g: 0px;  /* control the gap */
  --f: .8;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(var(--m),auto);
}

.image-container {
  display: flex;
  position: relative;
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .35s linear;
  max-width: 80vw;
}

.images {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.image-container:hover{
  filter: grayscale(0);
  width:  calc(90vh*var(--f)/var(--n));
  height: calc(90vw*var(--f)/var(--m));
}

.image-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #876595;
  mix-blend-mode: soft-light;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.image-container:hover::after {
  opacity: 0;
  cursor: pointer;
  transition: .35s linear;
}

.gallery {
  max-height: calc(100vh - 176px);
}

#become-seller, #add-product {
  position: absolute;
  top: 50%;
  z-index: 80;
  color: white;
  pointer-events: none;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  text-shadow: 5px 5px 10px black;
}

#become-seller-wrapper, #add-product-wrapper {
  position: relative;
  margin: 0;
}

#featured-products-container {
  background-image: url(img/bg/topography.svg);
  background-color: rgb(222, 229, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sale-products-container {
  background-image: url(img/bg/hexagons.svg);
  background-color: #decee4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-products-container h2, #sale-products-container h2 {
  color: white;
  text-shadow: 2px 2px 4px black;
  background-color: #96ac92;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  padding: 1rem 5rem;
  border-bottom: dashed 5px white;
  border-top: dashed 5px white;
  width: fit-content;
}

#sale-products-container h2 {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  padding: 1rem 2rem;
  background-color: #9c92ac;
}

#featured-products-container img, #sale-products-container img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 4% 4% 0 0;
  transform: scale(1);
  transition: all 0.3s;
}

#featured-products-container img:hover, #sale-products-container img:hover {
  transform: scale(1.1);
  border-radius: 4.25rem;
}

#featured-products-container .card, #sale-products-container .card {
  max-width: 30%;
  border-radius: 1rem;
}

.card {
  background-color: white;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: 1px 1px 2px #96ac92;
  border-radius: 0 0 1rem 1rem;
}

.card h5 {
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 1rem;
}

.card a, .featured-seller-text a, form button {
  text-decoration: none;
  border: 1px solid #005fc7;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #005fc7;
}

.card a:hover, .featured-seller-text a:hover, form button:hover {
  background-color: #005fc7;
  color: white;
}

#featured-products-inner, #sale-products-inner {
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
}

section {
  box-shadow: 2px 2px 6px gray;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

#featured-sellers-container {
  background-image: url(img/bg/tic-tac-toe.svg);
  background-color: #e5dbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-sellers-container h2 {
  clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 10% 50%, 0% 0%);
  background-color: #ac9292;
  padding: 1rem 5rem;
  border-bottom: 5px dashed white;
  border-top: 5px dashed white;
  width: fit-content;
  margin-bottom: 1rem;
}

.featured-seller-inner {
  width: 100%;
}

#featured-sellers-inner {
  max-width: 100%;
  display: flex;
  gap: 1rem;
}

#featured-sellers-inner img {
  object-fit: cover;
  width: 50%;
  box-shadow: 1px 1px 2px #ac9292;
}

.featured-seller-text {
  display: flex;
  flex-direction: column;
  background: #e5dbdb;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 1px 1px 2px #ac9292;
}

.image-left-card {
  display: flex;
  width: 50%;
}

.image-left-card img {
  border-radius: 1rem 0 0 1rem;
}

section:first-of-type {
  border-radius: 0 0 1rem 1rem;
  margin-top: 0;
}

.image-card-container {
  overflow: hidden;
}

