header {
  background-color: #FFF3E0;
  position: sticky;
  top: 0;
  z-index: 100;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  background-color: #E8DDC1;
}

header img {
  height: 120px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 352px);
}

footer ul {
  list-style-type: none;
}

footer {
  background-color: #876595;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: lightgrey;
}

#socials {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

#footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#seller-logo-input {
  height: auto;
}

#products-carousel {
  max-height: calc(100vh - 176px);
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#carousel-text {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 0 0 darkslategray;
  transition: 0.5s;
}

#marketplace-logo {
  transition: 0.5s;
}